extends layout

block content
  .content
    h1= title
    p Send a Yo to THERAINISCOMING and receive a Yo if it will rain the next day. You will also receive a Yo everyday at 6pm PST if it will rain the next day.
    img(src="#{path}images/Yo_Logo_RBG.jpg")
