doctype html
html
  head
    title= title
    //- /projects/therainiscoming
    link(rel='stylesheet', href='#{path}stylesheets/style.css')
    script(src="#{path}bower_components/jquery/dist/jquery.min.js")
  body
    block content
  // script(src="//localhost:35729/livereload.js")
